---
import LegalLayout from '../../layouts/LegalLayout.astro';
---

<LegalLayout title="Cookie Policy">
  <p>[ Add the Cookie Policy here. List the cookies/technologies used (technical, analytics, third-party), their purposes and how to manage consent. If you add analytics, consider a consent banner. ]</p>
</LegalLayout>
