---
import LegalLayout from '../../layouts/LegalLayout.astro';
---

<LegalLayout title="Terms & Conditions">
  <p>[ Add HouseMate's Terms &amp; Conditions here. Typical sections: scope of service, registration, user obligations, liability, intellectual property, withdrawal, governing law and jurisdiction. ]</p>
</LegalLayout>
