---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout title="Cookie Policy">
  <p>[ Inserisci qui la Cookie Policy. Elenca i cookie/tecnologie usati (tecnici, analitici, di terze parti), le finalità e come gestire il consenso. Se aggiungi analytics, valuta un banner di consenso. ]</p>
</LegalLayout>
