---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout title="Termini e Condizioni">
  <p>[ Inserisci qui i Termini e Condizioni di HouseMate. Argomenti tipici: oggetto del servizio, registrazione, obblighi degli utenti, responsabilità, proprietà intellettuale, recesso, legge applicabile e foro competente. ]</p>
</LegalLayout>
